$base: lighten(#a7c4c2, 20%);
$normal: darken($base, 5%);
$primary: #db2955;
$secondary: #4c86a8;
$dark: #2f2f2f;
$gray: #92b4a7;
$error: #962401;
$success: #00b300;

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html, body {
  width: 500px;
  height: 500px;
  margin: 0;
  padding: 0;
  background: $base;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: $dark;
  font-size: 16px;
}

h1 {
  font-size: 2.5em;
  color: $primary;
}

h2 {
  font-size: 1.75em;
  color: $secondary;
  margin: 0;
  padding: 0;
}

h6 {
  width: fit-content;
  font-size: 1em;
  color: $primary;
  text-align: left;
  margin: 0;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-right: 1px solid $primary;
  border-bottom: 1px solid $primary;
  border-bottom-right-radius: 1rem;
  background: lighten($primary, 30%);
}

p {
  font-size: 1.125em;
  margin: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}

a {
  color: lighten($secondary, 10%);
  text-decoration: underline;
  cursor: pointer;
}

.err {
  color: $error;
}

button {
  margin: 0.5rem 0.5rem;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  font-size: 16px;
  cursor: pointer;
  &:first-of-type {
    color: $secondary;
    border: 1px solid $secondary;
    background: lighten($secondary, 35%);
    &:hover {
      background: lighten($secondary, 25%);
    }
  }
  &:last-of-type {
    color: $primary;
    border: 1px solid $primary;
    background: lighten($primary, 40%);
    &:hover {
      background: lighten($primary, 30%);
    }
  }
}

select {
  margin: 0.5rem auto;
  padding: 0.25rem;
  border: 1px solid $gray;
  border-radius: 0.5rem;
  color: $secondary;
  background: $normal;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
}

.select-wrapper {
  white-space: nowrap;
  overflow-x: auto;
}

label {
  color: $secondary;
  margin: 0 0.5rem;
  text-transform: capitalize;
}

.loading-ring {
  width: 75px;
  height: 75px;
  border-top: 2px solid $gray;
  border-left: 2px solid $gray;
  border-radius: 50%;
  margin: 0 auto;
  animation: spin 2s infinite linear;
}

#viewAllContainer {
  margin-top: 0.75rem;
}

#requestResultText {
  color: $success;
}

#errorInfo {
  font-family: monospace;
}

@mixin requestCircle($color) {
  border-radius: 50%;
  width: 128px;
  height: 128px;
  border: 2px solid $color;
  margin: 0 auto;
}

#goodRequestCircle {
  @include requestCircle($success);
}

#badRequestCircle {
  @include requestCircle($error);
}

.hidden {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
